/*
.navbar
{
width: 140px;
height: 60px;
border: 2px solid red;
text-align: justify;
padding : 5px;
font-family: Arial;
font-size: 16px ;
background-color: rgb(224,168,71);
float: left;
}
*/

body
{
    background-color: rgb(243,255,189);
	/*background: url('images/fond_jaune.png');*/
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
	/*rgb(243,255,189);VERSION ?*/
}

#bloc_page
{
	
}
#conteneur
{
	width: 250px;
	height: 500px;
	margin: 10px;
	padding : 5px;
    display: flex;
	flex-direction: column;
	border: 7px solid #FF1E1E;
	background-color: #F3FFBD;
}

.element
{
	width: 230px;
	height: 45px;
	border: 1px solid blue;
	margin: 5px;
	padding : 5px;
	background-color: #70C1B3;
	/*background-color: rgba(224,168,71); VERSION 0.0*/
	
}
.element a
{
	text-align: center;
	background-color: #B2DBBF;
	text-decoration: none;
	padding: 2px;
	border: 1px solid #DBA86F;
	color: #FF6342;
	font-weight: 800;
	font-variant: small-caps;
	/*background-color: rgba(224,168,71); VERSION 0.0 */
	
}
/*

.element:nth-child(2) /* On prend le deuxième bloc élément 
{
    background-color: blue;
    /*align-self: flex-end; Seul ce bloc sera aligné à la fin 
	border: 10px solid blue;
}
*/

h1
{
    text-align: center ;
}

h2
{
    text-align: center ;
}
